//THREE
$black: #000;
$red: #f25f5c;
$yellow: #ffe066;
$blue: #247ba0;
$green: #70c1b3;
$white: #fff;

//TYPOGRAPHY
$titles: "Baloo", cursive;
$content: "Montserrat", sans-serif;

// //TWO
// $black: #26547c;
// $red: #ef476f;
// $yellow: #ffd166;
// $blue: #748faf;
// $green: #06d6a0;
// $white: #fcfcfc;

// //THREE
// $black: #50514f;
// $red: #f25f5c;
// $yellow: #ffe066;
// $blue: #247ba0;
// $green: #70c1b3;
// $white: #f9f7f6;
