@import "../utilities/vars";

.main {
  width: 100%;
  border: 4px solid $white;
  background-color: $white;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.checkHolder {
  display: flex;
  // flex-direction: column;
  margin: 15px 0px 3px 10px;
  padding-top: 8px;
  border-top: 2px dotted $blue;
}

.checkHolderTwo {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 5px 10px;
}

.freq {
  font-family: $titles;
  font-size: 0.9rem;
  color: $black;
}

.freqOpt {
  font-size: 0.8rem;
  color: $black;
  margin: auto 0px;
}

.frequencyBox {
  display: flex;
}

.blue {
  position: relative;
  font-family: $content;
  font-size: 0.9rem;
  color: $blue;
  margin: 5px;
  align-self: flex-end;
}

.blue:hover {
  cursor: pointer;
}

.rating {
  font-size: 0.8rem;
}
.row {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
input[type="checkbox"] {
  align-self: center;
  cursor: pointer;
  margin: 0px 5px;
}

.error {
  font-size: 0.6rem;
  color: $red;
}

.icon {
  color: $black;
  font-size: 70px;
  align-self: center;
}

.icon:hover {
  color: $green;
}

.icon:hover {
  cursor: pointer;
}

.input {
  border: none;
  background-color: $white;
  width: 100%;
  flex: 1;
  box-sizing: border-box;
  padding: 5px;
  font-size: 1.3rem;
  font-family: $content;
  height: 70px;
}

.inputSmall {
  border: 1px solid $blue;
  border-radius: 5px;
  align-self: center;
  background-color: $white;
  width: 100%;
  margin: 10px;
  flex: 1;
  box-sizing: border-box;
  padding: 10px;
  font-size: 0.8rem;
  font-family: $content;
  resize: none;
}

.form {
  width: 100%;
  margin-right: 10px;
}

.input:focus {
  outline: none;
}

.inputSmall:focus {
  outline: none;
}
