@import "../utilities/vars";

.main {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex: 1;
}

.checkHolder {
  display: flex;
}

.row {
  width: 100%;
  border: 4px solid $white;
  background-color: $white;
  height: auto;
  border-radius: 10px;
  display: flex;
  box-sizing: border-box;
  padding: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
input[type="checkbox"] {
  align-self: center;
  cursor: pointer;
  margin: 0px 5px;
}

.freq {
  font-size: 0.7rem;
}

.frequencyBox {
  display: flex;
}

.error {
  font-size: 0.6rem;
  color: $red;
}

.icon {
  color: $black;
  font-size: 60px;
  align-self: center;
}

.icon:hover {
  color: $green;
}

.icon:hover {
  cursor: pointer;
}

.input {
  border: none;
  background-color: $white;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  font-size: 1rem;
  font-family: $content;
  height: 50px;
}

.input:focus {
  outline: none;
}
