@import "../utilities/vars";

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  height: 65px;
  background-color: $green;
  // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 1000;
}

.navDiv {
  align-self: center;
  z-index: 1000;
}

.hide {
  font-size: 1rem;
  margin-right: 10px;
}

.link {
  position: relative;
  align-self: center;
  font-family: $content;
  text-decoration: none;
  color: $white;
  margin: 0px 20px;
  font-size: 1rem;
}

.subLink {
  position: relative;
  align-self: center;
  font-family: $content;
  text-decoration: none;
  color: $white;
  margin: 0px 5px 0px 0px;
  font-size: 0.8rem;
  color: $yellow;
}

.icons {
  color: $white;
  align-self: center;
  margin: 0px 15px 0px 0px;
  font-size: 20px;
}

@media screen and (max-width: 500px) {
  .link {
    margin: 0px 10px;
    font-size: 1rem;
  }

  .hide {
    display: none;
  }
}
