@import "../utilities/vars";

/* header */

.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  background-color: $green;
}

.rows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 65px;
  box-sizing: border-box;
  padding: 10px;
}

.bars {
  align-self: center;
  font-size: 30px;
  margin-right: 10px;
}

.bars:hover {
  cursor: pointer;
  color: $yellow;
}

.bottomnav {
  background-color: $black;
  display: flex;
  justify-content: center;
  height: 60px;
  width: 100%;
}

.bottomFirst {
  padding: 0px 10px;
  color: $yellow;
}

.bottom {
  color: $yellow;
  padding: 0px 10px;
}

a {
  font-family: $content;
  color: $white;
  align-self: center;
}

a:hover {
  color: $red;
}

.logIns {
  font-size: 0.8rem;
  margin-left: 10px;
}

.brand {
  font-family: $titles;
  color: $black;
  font-size: 2rem;
  text-shadow: 2px 2px $white;
}

@media screen and (max-width: 600px) {
  .brand {
    font-size: 1.3rem;
  }
  .bars {
    font-size: 20px;
  }
  a {
    font-size: 1rem;
  }
}
