@import "../utilities/vars";

.navBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 10px;
  height: 50px;
  background-color: $green;
}
.link {
  font-family: $content;
  margin-left: 15px;
  text-decoration: none;
  color: $white;
}

.down {
  color: $white;
  align-self: center;
  margin-left: 3px;
}

.dropDown {
  display: flex;
  flex-direction: column;
}
.dropDownLink {
  margin: 10px 0px 10px 30px;
  font-family: $content;
  color: $yellow;
}

.linkFirst {
  font-family: $content;
  margin-left: 15px;
  text-decoration: none;
  color: $white;
}

.linkFirst:hover {
  color: $yellow;
}

.linkFirst:hover .down {
  color: $yellow;
}

.link:hover,
.dropDownLink:hover {
  color: $yellow;
}
/*Strip the ul of padding and list styling*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
}
/*Create a horizontal list with spacing*/
li {
  display: inline-block;
  float: left;
}
/*Style for menu links*/
li a {
  display: block;
  text-decoration: none;
}
/*Hover state for top level links*/

/*Style for dropdown links*/
li:hover ul a {
  color: $white;
}
/*Hover state for dropdown links*/

/*Hide dropdown links until they are needed*/
li ul {
  display: none;
}
/*Make dropdown links vertical*/
li ul li {
  display: block;
  width: 200px;
  float: none;
  background-color: $yellow;
  margin: 10px;
  box-sizing: border-box;
  padding: 3px 10px;
}
/*Prevent text wrapping*/
li ul li a {
  width: auto;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidden,
.hidden:hover {
  display: block;
}
