@import "../utilities/vars";

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
}
.message {
  color: $white;
}
.panel {
  width: 100%;
  margin: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: $green;
  padding-top: 20px;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}

.section {
  min-width: 275px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin-left: 5px;
  align-self: center;
}

.cardHeader {
  align-self: center;
  width: 90%;
  height: 200px;
  background-color: $red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
}

.cardTitles {
  font-family: $content;
  color: $blue;
  font-size: 1.5rem;
}

.card {
  z-index: 100;
  position: relative;
  top: -30px;
  width: 80%;
  align-self: center;
  height: 350px;
  background-color: $white;
  border-radius: 5px;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 50px 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.row {
  display: flex;
  align-self: center;
  justify-content: center;
}
.button {
  align-self: flex-end;
  background-color: $black;
  width: 120px;
  margin: 20px 10px;
  height: 40px;
  border: 2px solid $white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.button:hover {
  cursor: pointer;
  box-shadow: none;
}

.buttonFont {
  align-self: center;
  color: $white;
  font-size: 1rem;
}

.icon {
  align-self: center;
  margin-left: 10px;
  font-size: 80px;
  color: $white;
}

.close {
  font-family: $content;
  text-align: center;
  color: $white;
  margin: 0px;
}

.heart {
  color: $red;
  animation: pulse 1s infinite;
  align-self: center;
  margin-left: 10px;
  font-size: 25px;
}

@keyframes pulse {
  10% {
    transform: scale(1.1);
  }
}

//ANITMIATION

.sunBox {
  margin: 20px auto;
  width: 250px;
  height: auto;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cloud {
  width: 250px;
}
.front {
  width: 250px;
  padding-top: 45px;
  margin-left: 25px;
  display: inline;
  position: absolute;
  z-index: 11;
  animation: clouds 8s infinite;
  animation-timing-function: ease-in-out;
}
.back {
  width: 250px;
  margin-top: -20px;
  margin-left: 140px;
  z-index: 12;
  animation: clouds 12s infinite;
  animation-timing-function: ease-in-out;
}
.rightfront {
  width: 35px;
  height: 35px;
  border-radius: 50% 50% 50% 0%;
  background-color: $white;
  display: inline-block;
  margin-left: -15px;
  z-index: 5;
}
.leftfront {
  width: 45px;
  height: 45px;
  border-radius: 50% 50% 0% 50%;
  background-color: $white;
  display: inline-block;
  z-index: 5;
}
.rightback {
  width: 40px;
  height: 40px;
  border-radius: 50% 50% 50% 0%;
  background-color: $white;
  display: inline-block;
  margin-left: -20px;
  z-index: 5;
}
.leftback {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 0% 50%;
  background-color: $white;
  display: inline-block;
  z-index: 5;
}
.sun {
  width: 100px;
  height: 100px;
  background: -webkit-linear-gradient(to right, #fcbb04, #fffc00);
  background: linear-gradient(to right, #fcbb04, #fffc00);
  border-radius: 60px;
  display: inline;
  position: absolute;
}

.sunSunshine {
  width: 100px;
  height: 100px;
  background: -webkit-linear-gradient(to right, #fcbb04, #fffc00);
  background: linear-gradient(to right, #fcbb04, #fffc00);
  border-radius: 60px;
  display: inline;
  position: absolute;
  animation: sunshines 2s infinite;
}

.sunshine {
  animation: sunshines 2s infinite;
}
@keyframes sunshines {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
@keyframes clouds {
  0% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(15px);
  }
}

@media screen and (max-width: 700px) {
  .message {
    font-size: 1rem;
  }
}
