@import "./utilities/vars";

body {
  margin: 0px;
  background-color: $green;
}

.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.headroom--unfixed {
  position: relative;

  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 200ms ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}

p {
  font-family: $content;
  color: $black;
  align-self: center;
  margin: 0px;
  font-size: 1.2rem;
  line-height: 150%;
}

h1 {
  font-family: $titles;
  margin: 0px;
  align-self: center;
  color: #f9f7f6;
  font-size: 3rem;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.content {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.footer {
  height: 100px;
  width: 100%;
  background-color: $green;
  flex-shrink: 0;
}
.example-enter {
  opacity: 0.01;
  margin-left: 400px;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: all 1300ms ease;
  margin-left: 0px;
}

.example-leave {
  opacity: 1;
  margin-right: 400px;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: all 200ms ease;
}

.modal {
  background-color: $red;
}

@media screen and (max-width: 600px) {
  .content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}
